@tailwind base;
@tailwind components;
@tailwind utilities;


::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, scale;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 2;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1;
    animation: none !important;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.about_img {
    background-image: url('/images/about.png');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    /* animation: scroll-up 40s linear infinite; */
}

.animate-scroll-up {
    animation: scroll-up 40s linear infinite;
}

.animate-scroll-down {
    animation: scroll-down 40s linear infinite;
}